<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<style>
        *{
            margin: 0;
            padding: 0;
        }
        #container{
            width: 470px;
            margin:50px auto;
        }
        ul{
            list-style: none;
        }
        li{
            height: 50px;
            line-height: 50px;
            background: #cccccc;
            padding: 0 10px;
            margin-bottom:10px;
        }
        .price,.close{
            float:right;
        }
        .close{
            margin-left:10px;
            color: red;
        }
        .selected{
            background:pink;
        }
    </style>
</head>
<body>
    <div id="container">
            <h1>todolist</h1>
            <hr>
            <div>
                <label for="proName">名称:</label>
                <input type="text" id="proName" placeholder="请输入产品名" v-model="name">
                <label for="proPrice">价格:</label>
                <input type="text" id="proPrice" placeholder="请输入产品价格" v-model="price">
                <button class="add" @click="add()">添加</button>
            </div>
            <div>
                <input type="text" class="searchval" v-model="searchC" placeholder="请输入搜索内容">
                <button class="search" @click="search()">搜索</button>
            </div>
            <ul>
                 <li v-for="(product,index) in proList" @click="change(product,index)" :class="{selected:product.isA}">
                        <input type="checkbox" v-model="check" :value="index">
                        <span>{{product.name}}</span>
                        <span class="close">[X]</span>
                        <span class="price">{{product.price}}</span>
                </li>
            </ul>
    
            <div>
                <button class="del" @click="del()">删除选中</button>
                总价
                <span class="totalprice">{{sum()}}</span>
            </div>
        </div>
        <script src="../vue.js"></script>
<script>
    new Vue({
       el:'#container',
       data:{
        proList:[
            {
                name:"衣服",
                price:22,
                isA:false
            },
            {
                name:"裤子",
                price:55,
                isA:false
            },
            {
                name:"手机",
                price:5457,
                isA:false
            },
            {
                name:"电脑",
                price:1111,
                isA:false
              
          }
        ],
        name:"",
        price:"",
        check:[],
        searchC:""

       },
       methods:{
              change(product,idx){
                  if(product.isA){  //勾选   变色   
                      var index=this.check.indexOf(idx);
                      this.check.splice(index,1)
                  }else{
                      this.check.push(idx)
                  }
                  product.isA=!product.isA;
            
              },
              add(){
                this.proList.push({
                name:this.name,
                price:this.price*1,
                isA:false     
                 }),
                 this.name="",
                 this.price=""
              },
              sum(){
                  var totalprice=0;
                  this.proList.forEach(function(obj,idx){
                       if(obj.isA){
                        totalprice +=obj.price;
                      }
                  });
                  return totalprice;
                 
              },
              del(){
                   let  newPro=this.proList.filter((product)=>{
                      return (product.isA !=true);
                      
                    });
                    this.proList=newPro;
                    this.check=[];
              },
              search(){
                  var  newPro2=this.proList.filter((product)=>{
                      return (product.name.includes(this.searchC));
                    });
                    this.proList=newPro2;


              }

       }


    })




</script>

        
</body>
</html>