*{
    margin:0;
    padding: 0;
}
body{
    font: 12px/1.5 tahoma,arial,"\5b8b\4f53";
    font-family:"Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    height: 3000px;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;

}
.wrapper{
    width:1230px;
    margin:0 auto ;
}

.icon-shouji-tianchong,.icon-gouwucheman,.icon-liebiao{
    color:  #ff0036 ;
    font-size: 14px;
}
/*nav开始*/
.nav{
    background:#f2f2f2;
    height:32px;
    border-bottom: 1px solid #e5e5e5;
    line-height: 32px;
}
.nav-menu >li,.nav-login{
      float: left;
}
.nav-menu{
     float: right;
}
.nav-menu a,.nav-login a{
    padding:0 10px 0 10px;
    color: #999;
}
.nav-login .p-login{
    padding: 0 10px 0 20px;
}
.sub-list a,.sub-list2 a {
    padding: 0;
    text-align: center ;
    line-height: 20px;
}
.list a{
    height: 20px;
    line-height: 20px;
}
/*.sub-list-menu3  .listmain h{
  width: 100%;
}*/
.nav-menu .web-nav{
    padding:0 45px 0 10px;
}
.nav-menu a{
    display: block;
}
.nav-login span{
    color: #999;
}
.nav-menu a span{
    color:#666;
}
.nav-login a:hover ,.nav-menu a:hover {
    color: #ff0036;

}
.s-triangle:hover ,.triangle:hover,.sub-list:hover {
    text-decoration: underline;

}
.sn-menu:hover b {
    transform: rotate(180deg) ;
}
.sn-menu:hover .sub-list-menu,.sn-menu:hover .sub-list-menu2,.sn-menu:hover .sub-list-menu3{
    display: block;
}
.sn-list:hover,.sn-list2:hover,.sn-list3:hover{
    height: 33px;
    background: #fff;
}
.sn-list,.sn-list2,.sn-list3{
    position: relative;
}
.sub-list-menu{
    border: 1px  solid #eee;
    border-top:none;
    background: #fff;
    position: absolute;
    left:-1px;
    top:33px;
    padding: 6px 4px ;
    width:75px;
    display: none;
}

.sub-list-menu2{
    border: 1px  solid #eee;
    border-top:none;
    background: #fff;
    position: absolute;
    left:-1px;
    top:33px;
    padding: 6px 4px ;
    width: 65px;
    display: none;
}
.sub-list-menu3{
    border: 1px  solid #eee;
    border-top:none;
    background: #fff;
    position: absolute;
    left:0px;
    top:33px;
    padding: 6px 4px ;
    width: 110px;
    display: none;
    z-index: 2;
}
b{
    width:0;
    height:0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent ;
    border-top: 6px solid  #999;/*css做三角形   */
    transition: all 0.2s linear ;
    transform-origin:3px 1.5px ;
}
.sub-list-menu3{
    width: 150px;
    margin: 0 auto ;
}
.sub-list-menu3 .listmain{
    width: 130px;
    margin-left: 10px;

}
.sub-list-menu3 a{
    width: 55px;
    float: left;
}
.triangle{
    position: relative;
}
b{
    position: absolute;
    left:60px;
    top:15px;
}
.s-triangle, .web-nav{
    position: relative;
}
.s-triangle b{
    position: absolute;
    left:48px;
    top:15px;
}
.web-nav b{
    position: absolute;
    left:73px;
    top:15px;
}


/*nav结束*/
/*右边黑框*/
.div00{
    width:35px;
    height: 100%;
    background:black;
    position: fixed;
    right:0;
    top:0;
    color: white;
}
.div00 i,.div00 a{
    color: white;
    font-size: 20px;
    margin: 10px 4px  ;
}
.div00 .car a{
    font-size: 12px;
}
.car{
    border: 1px solid #999999;
    border-right: none ;
    border-left: none ;
    height: 100px;
    margin-top: 10px;
}
.car div{
    width: 15px;
    margin-left: 12px;
    margin-bottom: 5px;
}
.div00 .icon-shopcart{
    color: #FF0036;
    margin-top: 15px;
}

.right-list1{
    margin:100px 0 0px 0 ;
    width: 35px;
    height: 35px;
   }
.right-list1 i{
    font-size: 25px;
    margin: 10px 0 0 0;
}
.main-list {
    margin-left: 3px;
    margin-top:-15px;
}
.main-list2{
    margin-left:2px;
    margin-top:30px;
}

/*右边黑框*/

