/*搜索*/
.logo{
    width: 240px;
    height:130px;
    float:left;
    margin-left:-25px;
}
.search-box{
     float: left;
     margin: 38px 0 0 110px;

 }
.search {
     width:625px;
     height:36px;
     border: 2px solid #ff0036 ;
 }
.search-text{
    width: 491px;
    height: 36px;
    border: none;
    outline: none;
    float: left;
}
.search-button {
    width: 134px;
    height: 36px;
    border: none;
    background: #ff0036;
    font-size: 18px;
    color: #ffffff;
    float: left;
}
.under-search{
    margin-top: 5px;


}
.under-search li{
    float: left;
    padding: 0 12px;
    position:relative;
}
.under-search a{
    color: #999;
    font-size: 14px;
}
.under-search .under-search-hot a{
    color: #ff0036;
}
.under-search span{
    width: 2px;
    height: 14px;
    background: #999999 ;
    position: absolute;
    right: 0;
    top: 4px;
}
/*搜索完*/
/*中间导航栏*/
.menu-box {
    height: 35px;
    border-bottom:2px solid  #ff0036 ;
}
.menu-list {
    margin-left: 190px;
}
.menu-list li{
    float: left;
    height: 36px;
    line-height: 36px;
}
.menu-wrap {
    overflow: hidden;
}
.menu-list img{
    width: 100px;
    margin-top: 3px;
}
.menu-list a{
    color: #333;
    font-size: 16px;
    display: block;
    padding: 0 10px ;
}
.menu-list a:hover {
    color: #ff0036;
}
/*中间导航栏*/
/*轮播图*/
.slide-box{
    position: relative;
}
.slide-item {
    position: absolute;
    left:0px;
    top: 0px;
    width: 100%;/*定位和浮动后宽度由内容撑起，必须写死固定的，*/
    z-index:-1
}
.slide-item1,.slide-item2{
    background:#e8e8e8;
}
.slide-item3{
    background:#fee9ec;
}
.slide-item4{
    background:#aa632c;
}
.slide-item-link{
    width: 1230px ;
    display: block;
    margin: 0 auto ;
}
.slide-item-link img{
    width: 1230px;
    height: 500px;
    display:block;
}
/*轮播图*/
/*左边导航栏*/
.slide-left {
    width: 200px;
    position:relative;
    top: -36px;
    height: 500px;
    left: -8px;
}
.slide-shop {
    height: 36px;
    background: #ff0036;
    line-height: 36px;
    font-size: 18px;
    color:white;
}
.slide-left i{
    color: #fff;
    margin: 0 16px;
}
.slide-left a{
    color: white;
}
.slide-category{
    background:rgba(0,0,0,0.55) ;
    height: 500px;
}
.category-item,.category-item2{
    height:31px;
    line-height: 31px;
    font-size: 14px;
}
.category-item>a{
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.category-item:hover,.category-item2:hover {
    background: white;
}
.category-item:hover>a,.category-item:hover>a>i,.category-item2:hover>a,.category-item2:hover>a>i{
    color: #FF0036;
}
/*左边导航栏*/
/*导航栏里面*/
.big-frame,.big-frame2{
    border: 1px  solid transparent;
    border-left:none;
    background: snow ;
    position: absolute;
    left:200px;
    top:36px;
    width:800px;
    height: 500px;
    display: none;
}
.category-item:hover .big-frame,.category-item2:hover .big-frame2{
     display: block;
}
.left-frame,.left-frame2{
    border: 1px solid transparent;
    background: white;
    width: 600px;
    height: 500px;
    float: left;

}
.img-frame,.img-frame2{
    border: 1px solid transparent;
    background: white;
    margin: 6px 8px ;
    width: 180px;
    height: 484px;
    float:left;
}
.img-frame1,.img-frame3{
    padding: 17px 9px  ;
}
.img-frame img,.img-frame2 img{
    width: 80px;
    border: 0.5px solid whitesmoke;
    display: inline-block;
    float: left;
}
.all-kinds a,.all-kinds2 a{
    color: #999;
}
.all-kinds li,.all-kinds2 li{
    float: left;
    padding: 2px 5px ;

}
.left-main,.left-main2{
    font-weight:bold;
    float:left;
    padding: 10px 10px 10px  25px;
}
.right-main,.right-main2{
     float: left;
     width: 450px;
    padding: 10px  10px 0 10px ;

 }
.all-kinds .kind1,.all-kinds2 .kind2 {
    color: #ff0036;
}
.all-kinds a:hover,.all-kinds2 a:hover{
    color: #ff0036;
}
/*导航栏里面*/

/*品牌图片*/
.first-wrapper {
    overflow: hidden;
}
.main-context{
    background:#f2f2f2;
    padding-top: 32px;
}
.b-first{
    width:234px;
    float: left;
    margin-right: 5px;

}
.b-first h2{
    background: white ;
    height: 55px;
    line-height: 55px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-left: 8px;
}
.b-img{
    width: 100%;
}
.b-buy{
    font-size: 18px;
    font-weight: 700;
}
.b-english{
    font-size: 14px;
    font-weight: 700;
   /* -webkit-font-smoothing: antialiased;*/
}
.b-more{
    float: right;
    margin-right: 1px;
    color:#a4a4a4;
    font-size: 18px;
    font-weight: lighter;

}.b-img:hover {
    opacity: 0.7;
    filter: alpha(opacity=0.7) ;
 }
.b-second,.b-third {
    width:485px;
    float: left;
    margin: 0 5px ;
}
.b-second  h2,.b-third h2{
    background: white ;
    height: 55px;
    line-height: 55px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-left: 8px;
}
.b-img3,.b-img2{
    width: 100%;
}
.b-buy2,.b-buy3{
    font-size: 18px;
    font-weight: 700;
}
.b-english2,.b-english3{
    font-size: 14px;
    font-weight: 700;
    /* -webkit-font-smoothing: antialiased;*/
}
.icon-gengduo{
    float: right;
    margin-right: 13px;
    color:#a4a4a4;
    font-size: 18px;
    font-weight: lighter;
    margin-left: 5px;
}
.b-img2:hover,.b-img3:hover {
     opacity: 0.7;
     filter: alpha(opacity=0.7) ;
 }
.b-more2,.b-more3{
    font-size:15px;
    color: #666666;
    font-weight: lighter;
    float: right;
}

.b-wrapper {
    margin-top: 15px;
    overflow: hidden;
}
.kinds-b {
 /*   overflow: hidden;*/
    background: #999999 ;
}
.b-list img{
    width: 100px;
    height: 50px;
    margin: 0 auto ;
}
.b-list {
    width: 122px;
    height: 108px;
    background: white ;
    padding-top: 29px;
    box-sizing: border-box;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;
}
.b-list-img{
    width: 122px;
    height: 108px;
    background: rgba(0,0,0,0.8) ;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.b-list-money{
    color: white;
    text-align: center;
    margin-top: 35px;
}
.b-list-run{
    background: #ff0036 ;
    display: block;
    color: white;
    text-align: center ;
    border-radius: 10px ;
    width: 70px;
    margin-left: 25px;
    margin-top: 8px;
    height: 18px;
    line-height: 18px;
}
.b-list:hover .b-list-img{
    display: block;
}
/*品牌图片*/
/*某类单独广告*/
.mart-wrapper {
    margin-top: 20px;
}
.mart-head {
    height: 31px;
    line-height: 31px;
    margin-bottom: 5px;
}
.mart-img{
    width: 214px;
    height: 25px;
}
.mart-head-list{
    float: right;
    margin-right: 10px;
}
.mart-head-list li{
    float: left;

}
.mart-head-list li a{
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 1px;
    margin: 5px 10px ;
}
.mart-head-list li a:hover {
    border-bottom: 1px solid black;
}
.mart-body {
    overflow:hidden;
}
.mart-left {
    float: left;
}
.mart-left-img{
    width: 235px;
    height: 618px;
}
.mart-item-1 {
    padding: 10px ;
}
.mart-right {
  float: right;
    background: red ;
    width: 995px;
    height: 618px;

}