/*搜索*/
.logo{
    width: 240px;
    height:130px;
    float:left;
    margin-left:-25px;
}
.search-box{
     float: left;
     margin: 38px 0 0 110px;

 }
.search {
     width:625px;
     height:36px;
     border: 2px solid #ff0036 ;
 }
.search-text{
    width: 491px;
    height: 36px;
    border: none;
    outline: none;
    float: left;
}
.search-button {
    width: 134px;
    height: 36px;
    border: none;
    background: #ff0036;
    font-size: 18px;
    color: #ffffff;
    float: left;
}
.under-search{
    margin-top: 5px;


}
.under-search li{
    float: left;
    padding: 0 12px;
    position:relative;
}
.under-search a{
    color: #999;
    font-size: 14px;
}
.under-search .under-search-hot a{
    color: #ff0036;
}
.under-search span{
    width: 2px;
    height: 14px;
    background: #999999 ;
    position: absolute;
    right: 0;
    top: 4px;
}
/*搜索完*/
/*中间导航栏*/
.menu-box {
    height: 35px;
    border-bottom:2px solid  #ff0036 ;
}
.menu-list {
    margin-left: 200px;
}
.menu-list li{
    float: left;
    height: 36px;
    line-height: 36px;
}
.menu-wrap {
    overflow: hidden;
}
.menu-list img{
    width: 100px;
    margin-top: 3px;
}
.menu-list a{
    color: #333;
    font-size: 16px;
    display: block;
    padding: 0 10px ;
}
.menu-list a:hover {
    color: #ff0036;
}
/*中间导航栏*/
/*轮播图*/
.slide-box{
    position: relative;
}
.slide-item {
    position: absolute;
    left:0px;
    top: 0px;
    width: 100%;/*定位和浮动后宽度由内容撑起，必须写死固定的，*/
    z-index:-1
}
.slide-item1,.slide-item2{
    background:#e8e8e8;
}
.slide-item3{
    background:#fee9ec;
}
.slide-item4{
    background:#aa632c;
}
.slide-item-link{
    width: 1230px ;
    display: block;
    margin: 0 auto ;
}
.slide-item-link img{
    width: 1230px;
    height: 500px;
    display:block;
}
/*轮播图*/
/*左边导航栏*/
.slide-left {
    width: 200px;
    position:relative;
    top: -36px;
    height: 500px;

}
.slide-shop {
    height: 36px;
    background: #ff0036;
    line-height: 36px;
    font-size: 18px;
    color:white;
}
.slide-left i{
    color: #fff;
    margin: 0 16px;
}
.slide-left a{
    color: white;
}
.slide-category{
    background:rgba(0,0,0,0.55) ;
    height: 500px;
}
.category-item,.category-item2{
    height:31px;
    line-height: 31px;
    font-size: 14px;
}
.category-item>a{
    display: block;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.category-item:hover,.category-item2:hover {
    background: white;
}
.category-item:hover>a,.category-item:hover>a>i,.category-item2:hover>a,.category-item2:hover>a>i{
    color: #FF0036;
}
/*左边导航栏*/
/*导航栏里面*/
.big-frame,.big-frame2{
    border: 1px  solid transparent;
    border-left:none;
    background: snow ;
    position: absolute;
    left:200px;
    top:36px;
    width:800px;
    height: 500px;
    display: none;
}
.category-item:hover .big-frame,.category-item2:hover .big-frame2{
     display: block;
}
.left-frame,.left-frame2{
    border: 1px solid transparent;
    background: white;
    width: 600px;
    height: 500px;
    float: left;

}
.img-frame,.img-frame2{
    border: 1px solid transparent;
    background: white;
    margin: 6px 8px ;
    width: 180px;
    height: 484px;
    float:left;
}
.img-frame1,.img-frame3{
    padding: 17px 9px  ;
}
.img-frame img,.img-frame2 img{
    width: 80px;
    border: 0.5px solid whitesmoke;
    display: inline-block;
    float: left;
}
.all-kinds a,.all-kinds2 a{
    color: #999;
}
.all-kinds li,.all-kinds2 li{
    float: left;
    padding: 2px 5px ;

}
.left-main,.left-main2{
    font-weight:bold;
    float:left;
    padding: 10px 10px 10px  25px;
}
.left-main h1,.left-main2 h1{
    width: 80px;
    height: 10px;
    font-size: 14px;
}
.right-main,.right-main2{
     float: left;
     width: 450px;
    padding: 10px  10px 0 10px ;

 }
.all-kinds .kind1,.all-kinds2 .kind2 {
    color: #ff0036;
}
.all-kinds a:hover,.all-kinds2 a:hover{
    color: #ff0036;
}
/*导航栏里面*/
/*品牌图片*/
.first-wrapper {
    overflow: hidden;
}
.main-context{
    background:#f2f2f2;
    padding-top: 32px;
}
.b-first{
    width:234px;
    float: left;
    margin-right: 5px;

}
.b-first h2{
    background: white ;
    height: 55px;
    line-height: 55px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-left: 8px;
}
.b-img{
    width: 100%;
}
.b-buy{
    font-size: 18px;
    font-weight: 700;
}
.b-english{
    font-size: 14px;
    font-weight: 700;
   /* -webkit-font-smoothing: antialiased;*/
}
.b-more{
    float: right;
    margin-right: 1px;
    color:#a4a4a4;
    font-size: 18px;
    font-weight: lighter;

}.b-img:hover {
    opacity: 0.7;
    filter: alpha(opacity=0.7) ;
 }
.b-second,.b-third {
    width:485px;
    float: left;
    margin: 0 5px ;
}
.b-second  h2,.b-third h2{
    background: white ;
    height: 55px;
    line-height: 55px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-left: 8px;
}
.b-img3,.b-img2{
    width: 100%;
}
.b-buy2,.b-buy3{
    font-size: 18px;
    font-weight: 700;
}
.b-english2,.b-english3{
    font-size: 14px;
    font-weight: 700;
    /* -webkit-font-smoothing: antialiased;*/
}
.icon-gengduo{
    float: right;
    margin-right: 13px;
    color:#a4a4a4;
    font-size: 18px;
    font-weight: lighter;
    margin-left: 5px;
}
.b-img2:hover,.b-img3:hover {
     opacity: 0.7;
     filter: alpha(opacity=0.7) ;
 }
.b-more2,.b-more3{
    font-size:15px;
    color: #666666;
    font-weight: lighter;
    float: right;
}
.b-wrapper {
    margin-top: 15px;
    overflow: hidden;
}
.kinds-b {
    overflow: hidden;
 /*   background: #999999 ;*/
}
.b-list img{
    width: 100px;
    height: 50px;
    margin: 0 auto ;
}
.b-list {
    width: 122px;
    height: 108px;
    background: white ;
    padding-top: 29px;
    box-sizing: border-box;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;
}
.b-list-img{
    width: 122px;
    height: 108px;
    background: rgba(0,0,0,0.8) ;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.b-list-money{
    color: white;
    text-align: center;
    margin-top: 35px;
}
.b-list-run{
    background: #ff0036 ;
    display: block;
    color: white;
    text-align: center ;
    border-radius: 10px ;
    width: 70px;
    margin-left: 25px;
    margin-top: 8px;
    height: 18px;
    line-height: 18px;
}
.b-list:hover .b-list-img{
    display: block;
}
/*品牌图片*/
/*某类单独广告*/
.mart-wrapper {
    margin-top: 20px;
}
.mart-head {
    height: 31px;
    line-height: 31px;
    margin-bottom: 5px;
}
.mart-img{
    width: 214px;
    height: 25px;
}
.mart-head-list{
    float: right;
    margin-right: 10px;
}
.mart-head-list li{
    float: left;

}
.mart-head-list li a{
    font-size: 14px;
    color: #000;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 1px;
    margin: 5px 10px ;
}
.mart-head-list li a:hover {
    border-bottom: 1px solid black;
}
.mart-body {
    overflow:hidden;
}
.mart-left {
    float: left;
    position: relative;
}
.mart-left .mart-frame {
    position: absolute;
    vertical-align: middle;
    bottom: 20%;
    width: 218px;
    height: 64px;
}
.mart-left .mart-frame1{
    background: rgba(0,0,0,.9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.mart-left .mart-frame1 .left-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    overflow: hidden;
}
.mart-left .mart-frame2{
    left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #FFF;
    vertical-align: middle
}
.mart-left .mart-frame2 .right-title{
    display: block;
    line-height: 24px;
    font-size: 18px;
}
.mart-left .mart-frame3{
    margin-top: 8px;
    margin-left: 14px;
}
.mart-item-3 .mart-frame {
    position: absolute;
    vertical-align: middle;
    bottom: 20%;
    width: 218px;
    height: 64px;
}
.mart-item-3 .mart-frame1{
    background: rgba(0,0,0,.9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.mart-item-3 .mart-frame1 .left-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    overflow: hidden;
}
.mart-item-3 .mart-frame2{
    left: 60px;
    top: 0;
    position: absolute;
    background: rgba(0,0,0,.6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #FFF;
    vertical-align: middle
}
.mart-item-3 .mart-frame2 .right-title{
    display: block;
    line-height: 24px;
    font-size: 18px;
}
.mart-item-3 .mart-frame3{
    margin-top: 8px;
    margin-left: 6px;
}
.mart-left-img{
    width: 235px;
    height: 618px;
}
.mart-wrapper2,.mart-wrapper3,.mart-wrapper4{
    height: 670px;
}
.mart-wrapper5{
    height: 1332px;
}
.mart-wrapper6{
    height: 600px;
}
.mart-item-1{
    padding: 10px;
    width: 464px;
    height: 281px;
}
.mart-right {
    float: right;
    background: #f5f5f5 ;
    width: 995px;
    height: 618px;
}
.mart-right2{
    float: right;
    background: #f5f5f5 ;
    width: 1230px;
    height: 630px;

}
.mart-right3{
    float: right;
    background: #f5f5f5 ;
    width: 1230px;
    height: 1332px;
}
.mart-right4{
    height: 630px;
}
.mart-item-shadow{
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.09) ;
    overflow: hidden;
}
.mart-btns{
    overflow: hidden;
}
.mart-btns span{
    float: left;
    width: 50%;
    height: 57px;
    line-height: 57px;
    text-align: center;
    background: #f1f1f1;
    font-size: 18px;
}
.mart-btns span.active{
    color:white;
    background: #00b262;
}
/*
.mart-btns span.active:hover,.mart-btns span.active2:hover {
    background: #00b262;
    color: white;
}
*/
.mart-content{
    height: 225px;
/*    overflow: hidden;*/

}
.mart-content-item {
    height:225px;
    position: relative;
    display: none;
}
.mart-content .mart-active{
    display: block;
}
.mart-content-item .mart-imanges1{
    width: 200px;
    height: 200px;
    float: right;
    margin-top:10px;
    margin-right: 12px;
}
.mart-item-ad{
    width: 291px;
    height: 87px;
    background: url("../imanges/mart-bg.png") 0 0 no-repeat;
    /*background-size:291px 87px ;*/
    position: absolute;
    left:0px;
    bottom:52px;

}
.mart-item-ad2{
    margin-right: 10px;
    vertical-align: middle;
}
.mart-item-ad3{
    vertical-align: middle;
}
.mart-item-ad4{
     font-size: 20px;
     margin-left:26px;
    margin-top: 5px;
 }
.mart-word-title{
    font-size: 24px;
    font-weight: 700;
    color: #00B262;
    margin-left:26px;
    height: 40px;
    line-height: 40px;
}
.mart-item-2,.mart-item-3{
    width: 234px;
    height: 302px;
    background: #ffffff;
    text-align: center;
    border: 1px solid #fff;
}
.mart-item-3-img{
    width:235px;
    height:302px;
}
.mart-single-img {
    width: 185px;
    height: 185px;
    margin-top:20px;
}
.mart-single-des{
    width: 135px;
    margin:0 auto;
    overflow: hidden;
    line-height: 20px;
    height: 40px;
    font-size: 14px;
    color: #333;
}
.mart-single-price{
    color: #FF0036;
    font-size: 18px;
    margin-top:3px;
}
.mart-item-2:hover {
    border:1px solid #FF0036;
}
.mart-item0:hover {
    border:2px solid #FF0036;
}
.mart-item{
    float: left;
    margin-left:13px;
    margin-bottom: 11px;
    background: #fff;
}
.mart-item0{
    float: left;
    margin-left:7px;
    margin-bottom:7px;
    background: #fff;
    width: 235px;
    height: 315px;
    text-align: center;
    border: 2px solid #fff;

}
.mart-item-2,.mart-item-3{
    width: 234px;
    height: 302px;
    background: #ffffff;
    text-align: center;
    border: 1px solid #fff;
}
.mart-item-3{
    float: left;
    margin-left:0;
    margin-bottom: 11px;
    background: #fff;
    border: none ;
    position: relative;
}
.mart-item-4{
    float: left;
    margin-left:0;
    margin-bottom: 11px;
    background: #fff;
}
.mart-item-5{
    margin-left: 12px;
}
.mart-item:hover .mart-imanges1,.mart-item:hover .mart-single-img{
    opacity: 0.7;
}
.mart-item:hover .mart-item-3-img,.mart-left:hover .mart-left-img{
    opacity: 0.7;
}
.floor-left{
    float: left;

}
.floor-beautiful {
    display: inline-block;
    font-size: 18px;
    color: #000;
    height: 28px;
    margin-left: 10px;
    /*  margin-right: 10px;*/
    vertical-align:middle;
}
.floor-english {
    display: inline-block;
    font-size: 14px;
    color: #000;
    margin-left: 10px;
    line-height: 24px;
    height: 18px;
    vertical-align:middle;
}
.icon-vertical{
    display: inline-block;
    width: 5px;
    height: 18px;
    vertical-align:middle;
    background: #EA5F8D;
}
.icon-vertical2{
    display: inline-block;
    width: 5px;
    height: 18px;
    vertical-align:middle;
    background:  #00B262;
}
.icon-vertical3{
    display: inline-block;
    width: 5px;
    height: 18px;
    vertical-align:middle;
    background:  #0AA6E8;
}
.detail-wrap{
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 4%,rgba(0,0,0,.36) 100%);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 5px;
    left: 0;


}
.detail-wrap1{
    background-image: linear-gradient(-180deg,rgba(0,0,0,0) 4%,rgba(0,0,0,.36) 100%);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;


}
.floor-arrow-big{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
}
/*某类单独广告*/
/*横幅广告*/
.int-ad{
    width:100%;
    background:#e3e1e2;
    height: 90px;
}
.int-wrapper a{
    display: block;

}
.int-images{
    width: 1230px;
    height: 90px;
}
/*横幅广告*/
/*猜你喜欢*/
.wonderful-title {
    color: #666;
    text-align: center;
    height: 43px;
    font-weight: 100;
}
.text-love{
    position: relative;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Microsoft YaHei',SimSun,sans-serif,'\65b9\6b63\5170\4ead\9ed1';
}
.icon-xin{
    position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 20px;
    color: #ff0036;
}
.wonderful-title>.text-love::before,.wonderful-title>.text-love::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #979797;
    top: 12px;
}
.wonderful-title>.text-love::before{
    left: -38px;
}
.wonderful-title>.text-love:after {
    right: -38px;
}
.last{
    margin-top: 25px;
    margin-bottom: 15px;
}
/*猜你喜欢*/
/*最后*/
.l-item-1 {
    float: left;
    width: 297px;
    height: 100px;
    position: relative;
/*    margin-left: 10px;*/
    margin-top: 20px;

}
.tubiao{
    float: left;
    font-size: 60px;
    color: #ff0036;
    position: absolute;
    left: 70px;
    top: 10px;
}
.item-1 h1{
    position: absolute;
    left: 140px;
    top: 25px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}
.item-1 p{
    position: absolute;
    left: 140px;
    top: 55px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.item-1 {
    float: left;
    vertical-align: middle;
}
.l-item-1 a{
  color: #646464;
}
.last-list {
    background: white ;
    height: 151px;
    border-bottom: 1px solid #D1D7DC ;
    border-top: 1px solid #D1D7DC ;
}
.ll-item-1 a{
    color: #646464;
}
.ll-item-1 {
    float: left;
    margin:25px  85px  10px  85px;
}
.ll-item-1 h1{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left
}
.ll-list {
    background: white ;
    height: 230px;
    border-bottom: 2px solid #ff0036 ;
}
.ll-item-2 li{
    margin: 3px 0;
}
.end{
    background: black ;
    height: 210px;

}
.end-1 li{
    float: left;
    line-height: 25px;
    height: 25px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
.end-1 a{
    color: white;
    margin-right: 8px;
}
.end-1 {
    overflow: hidden;
    margin-left: 50px;
    position: relative;
}
.end-2 span{
    width: 1px;
    height: 12px;
    background:white;
    position: absolute;
    right: 2px;
    top: 7px;
    margin: 0 2px ;
}
.end .end-3 a{
    color: #a4a4a4;
    margin-right: 65px;
}
/*最后*/