*{
    margin: 0;
    padding: 0;
}
.nav{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .28em;
    line-height: 1;
    color: #333;
    background-color: #f0efed;
}
.banner{
    height: 1.02rem;
    background: #06c1ae;
    display: flex;
    flex-direction:row;
    line-height: 1.02rem;
    border-bottom: 0.007rem  solid #21897d;

}
.banner-left{
    width: 1.67rem;
    height: 1.01rem;
   padding: 0 0.15rem;
    box-sizing: border-box;
}
.banner-center{
    flex: 1;
    height:0.64rem ;
    background: rgba(0,0,0,.15);
    border-radius: 0.1rem;
    line-height: 0.64rem;
    margin-top: 0.19rem;

}
.banner-center input{
    outline: none;
    border: none;
    background: transparent ;
    width: 3rem;
    color: white;
}
.banner-center input::-webkit-input-placeholder
{
    color:gainsboro;
}
.banner-center .search{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0.6rem;
    text-align:center;
}

.banner-right{
    height:1.01rem;
    width: 0.94rem;
    color: #fff;
    text-align: center;
    font-size: .2rem;

}
.banner-right .text-icon {
    display: block;
    font-size: .4rem;
    font-weight: 700;
    height: 0.4rem;
    width: 0.4rem;
    margin-left: 0.25rem;
    margin-top: -0.1rem;

}
.img-box{
    height: 1.88rem;
    background: url("../images/banner.png ") center center no-repeat ;
    background-size: contain ;
}
.img-box img{
    width: 100%;
    height: 1.88rem;
}
.content{
    width: 6.4rem;
    height: 3.6rem;
    font-size: 0;
    background: white ;
    margin-top: 0.03rem;
    border-bottom: 0.01rem solid #DDD8CE;
}
.nav li{
    display: inline-block;
    width: 20%;
    height: 1.62rem;
   /* background: pink ;*/
}
.nav a{
    display: block;
    text-align: center ;
    font-size: .24rem;
    margin-top: 0.2rem;
}
.nav i{
    display:inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 100%;
    background:orange;
    text-align: center ;
    line-height: 0.8rem;
    font-size: 0.4rem;
}
.nav span{
    display: block;
    color: black;
    margin-top: 0.15rem;
}
.point{
    height: 0.28rem;
text-align:center;

}
.point .active{
    display: inline-block;
    width: .16rem;
    height: .16rem;
    border-radius: 50%;
    background:#F0EFED;
    margin:0.04rem 0.18rem;
}
.point .color{
    background: #06c1ae;
}
.list{
    height: 2.26rem;
    background: white ;
    margin-top: 0.2rem;
    display: flex;
    padding: 0.12rem;
    border-top: 0.01rem solid #DDD8CE;
    border-bottom: 0.01rem solid #DDD8CE;
}
.list img{
    height:1.24rem ;
}
.list strong {
    display: block;
    font-size: .3rem;
    margin-top: .12rem;
    margin-bottom: .36rem;
    font-weight: bold;
    margin-left: -0.4rem;
}
.list small{
    font-size: smaller;
    color: #666;
}
.list-1 strong{
    color: #55a40f;
}
.list-2 strong{
    color: #ff3f0d;
}
.list-2 small{
    margin-left: -0.45rem;
}
.list-3 strong{
    color:#f742a0;
}
.list-1 ,.list-2,.list-3{
    flex: 1;
    border-left: 1px solid #ddd8ce ;
    text-align: center ;
}
.list-1{
    border-left:none ;
}
.final {
    width: 6.4rem;
    background: white ;
    margin-top: 0.2rem;
    border-top: 0.01rem solid #DDD8CE;
    border-bottom: 0.01rem solid #DDD8CE;
}
.items{
    width: 6.2rem;
    margin-left: 0.2rem;
    display: flex;
    flex-direction: column;
}
.items img{
    width: 1.8rem;
    height: 1.64rem;
    margin-right: 0.2rem;
}
.items p{
    font-size: .36rem;
    padding: 0.3rem 0 0.2rem 0;
    color: #333;
    border-bottom: 0.01rem solid #DDD8CE;
}
.item1{
    width: 6rem;
    height: 1.64rem;
    padding: .2rem .2rem .2rem 0;
    border-bottom: 0.01rem solid #DDD8CE;
}
.item2{
    border-bottom:none;
}
.item-total{
    display: flex;


    height: 1.64rem;
}
.item-eat{
     flex: 1;
     position: relative;
     width: 100%;

}
.item-name{
    padding-top: .1rem;
    margin-bottom: .12rem;
    font-size: .3rem;
    font-weight: 400;
    color: #333;

}
.item-add{
    font-size: .24rem;
    height: .58rem;
    margin-bottom: .13rem;
    color: #666;

}
.strong {
    font-size: .38rem;
    color: #06c1ae;
}
.strong-color {
    font-size: .26rem;
    color: #06c1ae;
}
.price{
    font-size: .24rem;
    color: #333;
}
.line-right {
    position: absolute;
    bottom: .15rem;
    right: 0;
    font-size: .22rem;
    color: #666;
}
.item-last{
    height: 0.8rem;
    border-bottom: 0.01rem solid #DDD8CE;
    border-top: 0.01rem solid #DDD8CE;

}
.last1 {
    display:inline-block;
    width: 5.6rem;
    color: #06c1ae;
    font-size: .3rem;
    line-height: 0.8rem;
    padding-left: 0.2rem;
    font-weight: 500;
}
.last2 {
    display:inline-block;
    width: .22rem;
    color: #06c1ae;
    font-size: .4rem;
    line-height: 0.8rem;
    font-weight: 700;

}
.foot{
    height: 3.99rem;
}
.footer-bar{
    margin-top: 0.3rem;

}
.footer-bar span{
    font-size: .29rem;
    color: #666;
    margin-left: 0.5rem;
}
.footer-bar .login{
    width: 1.2rem;
    height: 0.65rem;
    border: 0.02rem solid #06c1ae;
    color: #06c1ae;
    background: transparent;
    border-radius: 0.08rem;
    font-size: .28rem;
    margin-left: 0.2rem;
}
.footer-bar .login2{
    width: 1.7rem;
    height: 0.65rem;
    border: 0.02rem solid #06c1ae;
    color: #06c1ae;
    background: transparent;
    border-radius: 0.08rem;
    font-size: .28rem;
    margin: 0 0.25rem;
}
.footer-nav{
   font-size: 0;
    margin-top: 0.5rem;
}
.footer-nav .nav0{
   text-align: center ;
}
.footer-nav .react{
    font-size: .24rem;
    color: #06c1ae;
    padding: 0 0.28rem;
    margin-top: 0.6rem;
    border-right:0.01rem solid black;
    box-sizing: border-box;
}

.footer-nav .react2{
    border-right:none;

}
.footer-links {
    font-size: .24rem;
    text-align: center;
    margin-top: .3rem;
}
.footer-links a{
    display: inline-block;
    color: #06c1ae;
    padding: 0.15rem 0.15rem 0 0.15rem;
}

.footer-links .link4{
    margin-left: 1.1rem;
}
.footer-links .link6 {
    margin-left: 1rem;
}
.footer-last{
    color: #999;
    font-size: .22rem;
    text-align: center;
    margin-top: 0.5rem;
}
.footer-last a{
    color: #999;
    font-size: .22rem;
    text-align: center;
}

.footer-last span::after {
    content: "-——————";
}
.footer-last span::before  {
    content: "-——————";
}




